body {
    background-color: rgba(195, 223, 223, 0.819);
    color: rgb(48, 47, 47);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    justify-content: space-around;
    align-items: center;
    margin-top: 67px;
}


.m-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.row {
    margin: 7px 0px;
}

.row input {
    padding: 14px 31px;
    margin: 10px 0px;
    width: 245px;
    height: 65px;
    font-size: 1.5rem;
    border: none;
    border-radius: 9px;
    background-color: #242323;
    color: aquamarine;
    box-shadow: 3px 4px 5px 3px black;
}

.active {
    color: aquamarine;
}

button {
    padding: 20px;
    margin: 0px 3px;
    width: 67px;
    border: none;
    color: rgba(212, 247, 248, 0.797);
    background-color: rgb(30, 30, 30);
    box-shadow: 2px 3px 4px 2px black;
    border-radius: 9px;
    cursor: pointer;
    font-size: 22px;
    transition: all 300ms;
}

button:hover {
    color: aquamarine;
    background-color: black;
    box-shadow: 2px 4px 5px 2px black;
}

.equal {
    width: 144px;
}